@import "tailwindcss";

:root {
  /* Off-white/Paper background */
  --background: #FDFBF7;
  /* Dark Green text */
  --foreground: #1F3D2B;

  /* Custom Palette */
  --color-primary: #1F3D2B;
  --color-card: #EDE7DD;
  --color-highlight: #0D3B66;
  --color-marron: #5A1E2D;

  /* Font */
  --font-mono: "Martian Mono", monospace;
}

/* .martian-mono {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-card: var(--color-card);
  --color-highlight: var(--color-highlight);

  /* Use Martian Mono as the default sans and mono font for this technical aesthetic */
  --font-sans: var(--font-mono);
  --font-mono: var(--font-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}